# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Uploaded files
uploads/*
!uploads/.gitkeep

# Model files
# Uncomment the following line if you don't want to include the model in git
# model_folder/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db